.maqamat {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%;
}

.maqam-img {
  max-width: 100%;
}

.jins-img {
  max-width: 100%;
}

.jins {
  max-width: 100%;
}

.jins-intervals {
  display: flex;
  gap: 0.3em;
}

.jins-intervals-item {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.3em;
}

.maqam {
  max-width: 30%;
  padding-bottom: 6em;
}

.ajnas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2em;
}

.note-selected {
  background: teal;
}

.key {
  float: left;
  position: relative;
}

#keyboard {
  height: 10.2em;
  width: 20.2em;
}

.quarter-up-to-e {
  height: 1em;
  width: 1.5em;
  text-align: center;
}

.quarters {
  display: flex;
  flex-direction: row;
}

.white {
  height: 10em;
  width: 3em;
  z-index: 1;
  border-top: 0.1em solid #aaaaaa;
  border-bottom: 0.1em solid #aaaaaa;
  border-left: 0.1em solid #aaaaaa;
}

.bg-white {
  background-color: white;
}

.black {
  height: 5em;
  width: 2em;
  z-index: 2;
  border: 0.1em solid #000000;
}

.bg-black {
  background-color: #222222;
}

.a,
.b,
.d,
.e,
.g,
.black {
  margin: 0 0 0 -1.25em;
}

.spacer185 {
  width: 1.85em;
}

.spacer06 {
  width: 0.6em;
}

.half {
  width: 2.2em;
  text-align: center;
}

.quarter-white {
  width: 2.85em;
  text-align: center;
}

#keyboard > .key:last-child {
  border-right: 0.12vw solid #aaaaaa;
}
