:root {
  --quarter-btn-color: #fbefe9;
  --btn-selected-color: #dc8f64;
  --btn-quarterly-selected: #e9b89d;
  --maqam-bg-color: #f2db9a;
}

html {
  background-color: #be5a49;
  background-image: url("bg.svg");
}

body {
  font-family:
    segoe ui,
    verdana,
    arial,
    sans-serif;
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maqamat {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
}

.maqam-img {
  max-width: 100%;
}

.jins-img {
  max-width: 100%;
}

.jins {
  flex: 1;
}

.jins-title {
  text-align: center;
}

.jins-intervals {
  font-size: 0.9em;
  text-align: center;
}

.jins-intervals-item {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.3em;
}

.maqam {
  background-color: var(--maqam-bg-color);
  border-radius: 1em;
  padding: 0 1em 2em 1em;
  background-image: url("maqam-bg.svg");
}

.maqam-title {
  text-align: center;
}

.ajnas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2em;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 100%;
}

#keyboard {
  display: flex;
  height: 10em;
  width: 100%;
  background-color: #aaaaaa;
}

.note-selected-bg {
  background: var(--btn-selected-color);
}

.note-quarterly-selected-bg {
  background: var(--btn-quarterly-selected);
}

.note-selected-fg {
  color: var(--btn-selected-color);
}

.key {
  cursor: pointer;
  float: left;
  position: relative;
}

.quarters-container-black,
.quarters-container-white {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.quarters-container-white {
  gap: 0.05em;
  margin-top: 0.4em;
  width: 97%;
}

.quarters-container-black {
  margin-bottom: 0.2em;
}

.quarter-black,
.quarter-white {
  cursor: pointer;
  font: inherit;
  font-size: 0.8em;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.1em 0.45em;
}

.quarter-unselected-bg {
  background-color: var(--quarter-btn-color);
}

.white {
  height: 100%;
  flex: 1;
  z-index: 1;
  border-top: 0.1em solid #aaaaaa;
  border-bottom: 0.1em solid #aaaaaa;
  border-left: 0.1em solid #aaaaaa;
}

.bg-white {
  background-color: white;
}

.black {
  height: 60%;
  width: 8%;
  z-index: 2;
  border: 0.1em solid #000000;
}

.bg-black {
  background-color: #222222;
}

.a,
.b,
.d,
.e,
.g,
.black {
  margin: 0 0 0 -4.27%;
}

.spacer1 {
  width: 8%;
}

.spacer2 {
  width: 1.5%;
}

.spacer3 {
  width: 16%;
}

#keyboard > .key:last-child {
  border-right: 0.1em solid #aaaaaa;
}

/* rules for computer screens */
@media (min-width: 1000px) {
  .maqamat {
    grid-template-columns: repeat(3, 1fr);
  }

  .controls {
    width: 30%;
  }

  .quarters-container-white {
    width: 92%;
  }
}
