.maqamat {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%;
}

.maqam-img {
  max-width: 100%;
}

.jins-img {
  max-width: 100%;
}

.jins {
  max-width: 100%;
}

.jins-intervals {
  display: flex;
  gap: 0.3em;
}

.jins-intervals-item {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.3em;
}

.maqam {
  max-width: 30%;
  padding-bottom: 6em;
}

.ajnas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2em;
}

.note-selected-bg {
  background: teal;
}

.note-quarterly-selected-bg {
  background: #9be0e0;
}

.note-selected-fg {
  color: teal;
}

.key {
  float: left;
  position: relative;
}

#keyboard {
  height: 10.2em;
  width: 20.2em;
}

.quarters-container-black, .quarters-container-white {
  display: flex;
  flex-direction: row;
  width: 20.2em;
}

.quarters-container-white {
  margin-left: -0.7em;
  gap: 0.05em;
  margin-top: 0.2em;
}

.quarters-container-black {
  margin-bottom: 0.2em;
}

.quarter-black, .quarter-white {
  cursor: pointer;
  user-select: none;
  text-align: center;

  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  box-sizing: border-box;
}


.white {
  height: 10em;
  width: 3em;
  z-index: 1;
  border-top: 0.1em solid #aaaaaa;
  border-bottom: 0.1em solid #aaaaaa;
  border-left: 0.1em solid #aaaaaa;
}

.bg-white {
  background-color: white;
}

.black {
  height: 5em;
  width: 2em;
  z-index: 2;
  border: 0.1em solid #000000;
}

.bg-black {
  background-color: #222222;
}

.a,
.b,
.d,
.e,
.g,
.black {
  margin: 0 0 0 -1.25em;
}

.e_half, .b_half {
  margin-left: 0.1em;
}

.spacer24 {
  width: 2.4em;
}

.spacer16 {
  width: 1.6em;
}

#keyboard > .key:last-child {
  border-right: 0.1em solid #aaaaaa;
}
