<!-- -*- engine:jinja2 -*- -->
{% set notes = ["C↓", "C", "C#↓", "C#", "D↓", "D", "D#↓", "D#",
                "E↓", "E", "F↓", "F", "F#↓", "F#", "G↓", "G",
                "G#↓", "G#", "A↓", "A", "A#↓", "A#", "B↓", "B"] %}
{% set quarterNotation = '¼<span style="vertical-align: text-top">↓</span>' %}

<!DOCTYPE html>
<html>
  <head>
    <title>maqamat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script defer src="/alpine.min.js"></script>
    <script src="/index.js"></script>
    <script>
     const maqamat = {
       {% for maqam in maqamat -%}
       {{ maqam.name }}: [
         {%- for variation in maqam.to_binary() -%}
          {{ variation }},
         {%- endfor -%}
       ],
       {% endfor -%}
     };
     const notesNotations = {{ notes }};
     const notesWeights = Object.fromEntries(notesNotations.map((n, i) => [n, i]));
    </script>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body x-data="makeState(notesNotations, maqamat)" x-init="refreshMatches">
    <div class="controls">
      <div class="quarters-container-black">
        {% for note in notes %}
          {% if "↓" in note and "#" in note %}
            {% set i = 2 ** (24 - loop.index0 - 1) %}
            {% if note[0] == "C" %}
              <div class="spacer1"></div>
            {% elif note[0] == "F" %}
              <div class="spacer3"></div>
            {% elif note[0] in ["D", "G", "A"] %}
              <div class="spacer2"></div>
            {% endif %}

            <button class="quarter-black"
                 x-bind:class="notes[{{ i }}] ? 'note-selected-bg' : 'quarter-unselected-bg'"
                 x-on:pointerdown="toggleNote({{ i }}, 'quarter')">
              {{ quarterNotation }}
            </button>
          {% endif %}
        {% endfor %}
        <div class="spacer1"></div>
      </div>
      <div id="keyboard">
        {% for note in notes %}
          {% if "↓" not in note %}
            {% set i = 2 ** (24 - loop.index0 - 1) %}
            {% set color = 'black' if '#' in note else 'white' %}
            <div class="key {{ color }} {{ note.replace('#', '_sharp').lower() }}"
              x-on:pointerdown="toggleNote({{ i }}, 'equal')"
              x-bind:class="getNoteBgClass({{ i }}, '{{ color }}')">
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="quarters-container-white">
        {% for note in notes %}
          {% if "↓" in note and "#" not in note %}
            {% set i = 2 ** (24 - loop.index0 - 1) %}
            <button class="quarter-white {{ note.replace("↓", "_half").lower() }}"
                    x-bind:class="notes[{{ i }}] ? 'note-selected-bg' : 'quarter-unselected-bg'"
                    x-on:pointerdown="toggleNote({{ i }}, 'quarter')">
              {{ quarterNotation }}
            </button>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="maqamat">
      {% for maqam in maqamat %}
        <div class="maqam" x-show="matches['{{ maqam.name }}'].size > 0">
          <h3 class="maqam-title">{{ gettext(maqam.name) }}</h3>
          <div x-show="selectedAmount(notes) > 1">
            <span>keys: </span>
            <span x-text="stringifyKeys(matches['{{ maqam.name }}'], notesWeights)"></span>
          </div>
          <div class="ajnas">
            {% for jins in [
              maqam.tonic,
              maqam.ghammaz_option1,
              maqam.ghammaz_option2
            ] %}
              {% if jins %}
                <div class="jins">
                  <h5 class="jins-title">{{ jins.name }}</h5>
                  <div class="jins-intervals">
                    {{ jins.pretty_intervals() }}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
